<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			Sport
		</a>
		<a class="panel-block">
			Travel
		</a>
		<a class="panel-block">
			Cook
		</a>
		<a class="panel-block">
			News
		</a>
		<a class="panel-block">
			Gaming
		</a>
		<a class="panel-block">
			Culture
		</a>
	</nav>
</div>